---
import { Text, Button } from '../components/Base'
import MainLayout from '../components/MainLayout.astro';
---
<MainLayout title="Home">
	<section class="space-y-2">
		<Text variant="display">Display</Text>
		<Text variant="h1">Astro</Text>
		<Text variant="h2">Astro</Text>
		<Text variant="h3">Astro</Text>
		<Text variant="p">Astro</Text>
		<Text variant="small-p">Astro</Text>
		<div>
			<Button variant='contain'>Test</Button>
			<Button variant='outline'>Test</Button>
			<Button variant='link'>Test</Button>
		</div>
	</section>
</MainLayout>