---
import { Badge, Text } from "./Base";
import DataDrivenIcon from '../../public/icons/5.svg';
import TheCurveIcon from '../../public/icons/6.svg';
import VisibilityIcon from '../../public/icons/23.svg';
---
<section class="grid grid-cols-1 py-md gap-md lg:grid-cols-2 lg:py-lg lg:gap-lg xl:gap-3xl">
    <div class="h-3xl lg:h-full rounded-lg bg-neutral-200"></div>
    <div>
        <Text variant='h1' className="pb-md text-center lg:text-left">
            What we are all about
        </Text>
        <Text variant='p' className='pb-lg text-center lg:text-left' colorStyle='secondary'>
            We saw the need for a data-driven, innovative marketing approach, inspiring the birth of Toggle. We're on a mission to empower businesses to conquer their goals with effective digital strategies. Join us on this exciting journey of growth and success!
        </Text>
        <div class="space-y-md">
            <div class="flex items-center gap-sm">
                <img src={DataDrivenIcon.src} alt="Data-driven success" class="shrink-0 rounded-lg h-2xl w-auto border border-base-300"/>
                <div>
                    <Text variant="p" className="font-semibold">
                        Data-driven success
                    </Text>
                    <Text variant="small-p" colorStyle='secondary'>
                        Data-driven strategies delivering tangible results for our clients.
                    </Text>
                </div>
            </div>
            <div class="flex items-center gap-sm">
                <img src={TheCurveIcon.src} alt="Stay ahead of the curve" class="shrink-0 rounded-lg h-2xl w-auto border border-base-300"/>
                <div>
                    <Text variant="p" className="font-semibold">
                        Stay ahead of the curve
                    </Text>
                    <Text variant="small-p" colorStyle='secondary'>
                        Digital success made simple with our innovative solutions and cutting-edge strategies.
                    </Text>
                </div>
            </div>
            <div class="flex items-center gap-sm">
                <img src={VisibilityIcon.src} alt="Transparency and Visibility" class="shrink-0 rounded-lg h-2xl w-auto border border-base-300"/>
                <!-- <span class="shrink-0 rounded-lg p-md bg-neutral-200">
                </span> -->
                <div>
                    <Text variant="p" className="font-semibold">
                        Transparency and Visibility
                    </Text>
                    <Text variant="small-p" colorStyle='secondary'>
                        Build transparent partnerships for shared success.
                    </Text>
                </div>
            </div>
        </div>
    </div>
</section>