---
import { cn } from "../utils";
const { className } = Astro.props;
---

<section
  class={cn(
    "container px-sm lg:px-xl xl:px-3xl py-2xl lg:pt-3xl lg:pb-2xl",
    className
  )}
>
  <slot />
</section>
