---
import { Text, Button } from './Base';
---
<section class="py-md lg:py-lg border border-base-300 rounded-lg bg-gradient-to-t from-base-300 to-transparent">
    <div class="mx-auto w-full sm:w-2/3 p-xl md:p-3xl flex flex-col items-center gap-y-lg">
        <Text variant="h1" align='center' className='w-full lg:w-4/6'>Take your business to the next level</Text>
        <Button size='md' colorStyle='white' className='text-center'>Book a call</Button>
    </div>
</section>