---
import { Text, Button } from './Base';
---
<section class="py-md lg:py-lg border border-slate-300 rounded-lg">
    <div class="mx-auto w-full sm:w-2/3 p-3xl flex flex-col items-center gap-y-lg">
        <Text variant="h1" align='center' className='w-full lg:w-2/3'>Take your business to the next level</Text>
        <Button variant="outline" size='md' className='text-center'>Book a call</Button>
    </div>
</section>