---
import { Text, Button } from './Base/index';
---
<section class="grid grid-cols-1 py-xl gap-md lg:grid-cols-2 lg:py-3xl lg:gap-xl xl:gap-3xl">
    <div class="flex flex-col items-center lg:items-start">
        <Text variant='display' className='pb-md text-center lg:text-left font-semibold'>
            Elevate Your Brand's Digital Journey
        </Text>
        <Text variant='h4' className='pb-xl font-normal text-center lg:text-left' colorStyle='secondary'>
            Join our results-driven digital marketing agency and unlock your brand's full potential in the digital landscape.
        </Text>
        <Button size='lg'>Get Started Now</Button>
    </div>
    <div class="h-3xl lg:h-full rounded-lg bg-gray-200"></div>
</section>