---
import { Text, Button } from "./Base/index";
---

<section
  class="mx-auto pt-sm pb-lg md:py-2xl lg:flex lg:h-full lg:items-center"
>
  <div
    class="mx-auto max-w-full lg:max-w-3xl flex flex-col items-center justify-center"
  >
    <Text variant="display" align="center" className="pb-lg">
      Elevate Your Brand's <br />
       Digital Journey
    </Text>
    <Text
      variant="h4"
      colorStyle="secondary"
      align="center"
      className="pb-xl leading-relaxed w-full lg:w-5/6"
    >
      Join our results-driven digital marketing agency and unlock your brand's
      full potential in the digital landscape.
    </Text>
    <div class="flex items-center justify-center w-2/3">
      <Button size="lg">Start my Project</Button>
    </div>
  </div>
</section>
