---
const { title } = Astro.props;
---
<html lang="en">
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>{title}</title>
	</head>
	<body>
    <main class="container mt-sm px-sm space-y-xl sm:mt-md lg:mt-2xl sm:px-lg lg:px-xl xl:px-3xl lg:space-y-2xl">
            <slot />
    </main>
	</body>
</html>
</html>