---
import { Button } from "./Base";
---

<nav class="navbar">
  <div
    class="container flex items-center justify-between pt-xl px-sm lg:px-3xl"
  >
    <a class="btn btn-ghost text-xl">toggle</a>
    <Button colorStyle="accent">Start a Project</Button>
  </div>
</nav>
