---
import { Button } from "./Base";
---

<nav class="navbar">
  <div class="container flex items-center justify-between py-sm">
    <a class="btn btn-ghost text-xl">toggle</a>
    <Button variant="secondary" size="sm">Contact Us</Button>
  </div>
</nav>
