---
import { Button } from "./Base";
---
<nav class="navbar bg-base-100">
    <div class="container flex items-center justify-between pt-xl px-sm lg:px-3xl">
        <a class="btn btn-ghost text-xl">toggle</a>
        <Button variant='outline'>Book a call</Button>
    </div>
</nav>