---
import { Text } from "./Base";

const sectionTitle = "A simple, yet powerful and efficient process";
const processes = [
  {
    index: "01",
    title: "Marketing Plan",
    description:
      "Kick-start by crafting a comprehensive marketing plan tailored to your website's goals and target audience. This includes defining strategies, target platforms, and performance metrics to achieve optimal results.",
  },
  {
    index: "02",
    title: "Execution",
    description:
      "Put our expert team to work, implementing the marketing strategies across various channels. This includes optimizing website content, running PPC campaigns, social media outreach, and other key activities to drive traffic and engagement.",
  },
  {
    index: "03",
    title: "Growth & Scale",
    description:
      "Continuously monitor performance, analyze data, and fine-tune our strategies. This iterative process allows us to scale successful tactics and identify areas for improvement, ensuring sustainable growth for your website.",
  },
];
---

<section
  class="grid grid-cols-1 py-md gap-md lg:grid-cols-2 lg:py-lg lg:gap-lg xl:gap-3xl"
>
  <div>
    <Text variant="h1" className="pb-xl text-center lg:text-left">
      {sectionTitle}
    </Text>
    <div class="space-y-sm">
      {
        processes.map((process) => (
          <div class="flex items-start gap-sm p-lg border border-base-300 rounded-lg duration-300 ease-in-out cursor-pointer active:bg-neutral">
            <Text
              variant="h4"
              className="shrink-0 font-bold p-sm"
              colorStyle="secondary"
            >
              {process.index}
            </Text>
            <div>
              <Text variant="h4" className="font-semibold">
                {process.title}
              </Text>
              <Text variant="small-p" colorStyle="secondary">
                {process.description}
              </Text>
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <div class="h-3xl lg:h-full rounded-lg bg-neutral-200"></div>
</section>
