---
import { Text } from "./Base";
---
<section class="py-md lg:py-lg">
    <div class="max-w-full flex justify-center">
        <Text variant='h1' className="w-full lg:w-2/3" align='center'>
            High-impact services to help your business
        </Text>
    </div>
    <div class="grid grid-cols-1 gap-lg pt-xl md:grid-cols-2 lg:grid-cols-3 lg:gap-xl lg:pt-2xl">
        <div class="rounded-lg border border-base-300 p-lg hover:bg-base-200 cursor-pointer">
            <div class="rounded-full w-sm p-lg bg-neutral-200 mb-lg"></div>
            <Text variant="h3" className="w-full lg:w-2/3">Pay-per Click Advertising</Text>
        </div>
        <div class="rounded-lg border border-base-300 p-lg hover:bg-base-200 cursor-pointer">
            <div class="rounded-full w-sm p-lg bg-neutral-200 mb-lg"></div>
            <Text variant="h3" className="w-full lg:w-2/3">Social Media Marketing</Text>
        </div>
        <div class="rounded-lg border border-base-300 p-lg hover:bg-base-200 cursor-pointer">
            <div class="rounded-full w-sm p-lg bg-neutral-200 mb-lg"></div>
            <Text variant="h3" className="w-full lg:w-2/3">Content Marketing</Text>
        </div>
        <div class="rounded-lg border border-base-300 p-lg hover:bg-base-200 cursor-pointer">
            <div class="rounded-full w-sm p-lg bg-neutral-200 mb-lg"></div>
            <Text variant="h3" className="w-full lg:w-2/3">Email Marketing</Text>
        </div>
        <div class="rounded-lg border border-base-300 p-lg hover:bg-base-200 cursor-pointer">
            <div class="rounded-full w-sm p-lg bg-neutral-200 mb-lg"></div>
            <Text variant="h3" className="w-full lg:w-2/3">Conversion Rate Optimization</Text>
        </div>
        <div class="rounded-lg border border-base-300 p-lg hover:bg-base-200 cursor-pointer">
            <div class="rounded-full w-sm p-lg bg-neutral-200 mb-lg"></div>
            <Text variant="h3" className="w-full lg:w-2/3">Analytics and Reporting</Text>
        </div>
    </div>
</section>