---
import { Text } from "./Base";
---
<section class="py-md lg:py-lg">
    <div class="max-w-full flex justify-center">
        <Text variant='h1' className="w-full lg:w-2/3" align='center'>
            High-impact services to help your business
        </Text>
    </div>
    <div class="grid grid-cols-1 gap-lg pt-xl md:grid-cols-2 lg:grid-cols-3 lg:gap-xl lg:pt-2xl">
        <div class="rounded-lg bg-gray-200 p-lg">
            <Text variant="h4">Pay-per Click Advertising</Text>
        </div>
        <div class="rounded-lg bg-gray-200 p-lg">
            <Text variant="h4">Social Media Marketing</Text>
        </div>
        <div class="rounded-lg bg-gray-200 p-lg">
            <Text variant="h4">Content Marketing</Text>
        </div>
        <div class="rounded-lg bg-gray-200 p-lg">
            <Text variant="h4">Email Marketing</Text>
        </div>
        <div class="rounded-lg bg-gray-200 p-lg">
            <Text variant="h4">Conversion Rate Optimization</Text>
        </div>
        <div class="rounded-lg bg-gray-200 p-lg">
            <Text variant="h4">Analytics and Reporting</Text>
        </div>
    </div>
</section>